<body>
    <nav class="nav-inline position-right box-shadow-l">
  <ul>
    <li>
      <a href="index" class="button button-s nav-button box-shadow-l">Home</a>
    </li>
    <li class="float-right">
      <a href="/users/login" class="button button-s nav-button box-shadow-l">Login</a>
    </li>
    <li class="float-right">
      <a href="..." class="button button-s nav-button box-shadow-l">Tutorials</a>
    </li>
    <li class="float-right">
      <a href="/users/register" class="button button-s nav-button box-shadow-l">Register</a>
    </li>
  </ul>
</nav>

  <main>
    <section>
    <div class="container text-align-center  top-margin margin-bottom-l padding-bottom-l">
    <h1 class="main-heading margin-vertical-1">Welcome!</h1>
    <h2 class="display-title display-title-xl margin-bottom-m"> Python Video Tutorials </h2>
    <a href="" class="button button-s get-started margin-top-s box-shadow-l">Get Started</a>
    </div>       
  </section>

  <section>
    <div class="container segmentred text-align-center box-shadow-l border-radius">
        <h1 class="display-title display-title-xl text-align-center main-h"> Useful Links</h1> 
        
          <div class="flex-cards-center">
            
          
        <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-top-m vid-card box-shadow-xl">
          <div class="flex-auto">
            <h3 class="margin-top-m inter">Sublime Text Editor</h3>
            <hr>
            <a href="">Start writing code by using the Sublime Text Editor.</a>
          </div>
          <p class="flex-none">
          </p>
        </div>

        <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-top-m vid-card box-shadow-xl">
          <div class="flex-auto">
            <h3 class="margin-top-m inter">Python</h3>
            <hr>
            <a href="">Download the Python Interpreter</a>
          </div>
          <p class="flex-none">
          </p>
        </div>

        <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-top-m vid-card box-shadow-xl">
          <div class="flex-auto">
            <h3 class="margin-top-m inter">PyCharm IDE</h3>
            <hr>
            <a href="">Write code using PyCharm IDE</a>
          </div>
          <p class="flex-none">
          </p>
        </div>

          </div> 
    </div>
  </section>

  <section>
    <div class="container-fluid segment text-align-center">
        <h1 class="display-title display-title-xl text-align-center"> Contribute </h1> 
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, cum. Dignissimos ipsam quas, adipisci repudiandae, tempore sint ratione ex perferendis modi pariatur sunt odit impedit debitis veritatis, totam et voluptate.</p>
    </div>
  </section>
  </main>

  <footer class="footer padding-vertical-xl border-top border-color-primary-600 segmentcolor">
  <div class="container">

    <div class="text-align-center">
    <h2 class="display-title display-title-l margin-bottom-m">Digital Story Telling</h2>
    <nav class="nav-inline">
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Mission</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Contribute</a>
      </li>
    </nav>
  </div>

  </div>
</footer>