    <nav class=" nav-background padding-xs nav-inline">
  <ul>
    <li>
      <a class="nav-main border-radius" href="/videos">Videos</a>
    </li>
    <li>
      <a class="nav-main border-radius" href="#about">About</a>
    </li>

  </ul>
</nav>

<main>
  
  <section>
    <div class="segment-img flex flex-row">

      <div class="flex flex-row">
      <div class="padding-top-xl">
        <img class="padding-left-xl padding-right-xl" src="image.png" alt="">
        <h1 class="heading padding-left-xl">Learn to Program with Python</h1>
        <p class="pop padding-left-xl margin-bottom-xl padding-right-xl">Welcome! Start learning Python through watching videos and practicing code all in the browser! Just simply register your account, login and start watching videos. These are not regular tutorials, they teach you in a easy to understand and fun story-like way. </p>
        <a href="/users/register" class="lead-button border-radius margin-left-xl box-shadow-m">Get Started</a>
        <a href="/users/login" class="lead-button-green border-radius margin-left-s box-shadow-m">Login</a>
      </div>  

    </div>  

  </section>

    <section>
    <div class="segment-red padding-top-xl">
        <h1 class="heading-s text-align-center">Programming Resources</h1>
        <p class="text-align-center">Programming Tools to get you started</p>


        <div class="flex flex-row padding-m box">
        <a class="py padding-s margin-right-s border-radius box-shadow-m" href="https://python.org"> Python</a>
        </div>

        <div class="flex flex-row padding-m box">
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://www.sublimetext.com/"> Sublime Text</a>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://code.visualstudio.com/"> VS Code</a>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://www.jetbrains.com/pycharm/"> PyCharm</a>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://developer.apple.com/xcode/"> XCode - For Macs</a>
        </div>
    </div>
    </section>


<section>
  <div class="segment flex flex-row" id="about">

      <div class="container padding-top-xl">
        <h1 class="heading text-align-center">About</h1>
        <p class="pop text-align-center">This project was created under the supervision of Dr.Rizk at the University of Houston.</p>
        <div class="flex box">
        <img src="uh.png" alt="">
      </div>
      </div>  

    </div>
</section>

<footer>
  <div class="footer segment-red box  padding-top-m">
    
    <div class="flex flex-column padding-right-xl">

      <ul class="footer-ul">
        <li class="footer-ul text-align-center"><h1 class="poppins">About</h1></li>
        <li class="footer-ul text-align-center"><a href="">UH</a></li>
      </ul> 
    </div>
  </div>
</footer>

