<body>
    <nav class="nav-inline position-right box-shadow-l">
  <ul>
    <li>
      <a href="index" class="button button-s nav-button box-shadow-l">Home</a>
    </li>
    <li class="float-right">
      <a href="/users/login" class="button button-s nav-button box-shadow-l">Login</a>
    </li>
    <li class="float-right">
      <a href="..." class="button button-s nav-button box-shadow-l">Tutorials</a>
    </li>
    <li class="float-right">
      <a href="/users/register" class="button button-s nav-button box-shadow-l">Register</a>
    </li>
  </ul>
</nav>

  <main>
    <section>
    <div class="container text-align-center  top-margin margin-bottom-l padding-bottom-l">
    <h1 class="main-heading margin-vertical-1">Digital Storytelling</h1>
    <h2 class="display-title display-title-xl margin-bottom-m"> Python Video Tutorials </h2>
    <p class="display-title display-title-m">Video here</p>
    <!-- <p class="display-title display-title-m"> Video Here Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, possimus unde sapiente magnam provident soluta dicta dignissimos, consequuntur nisi modi quas cum nulla accusamus totam nihil neque, eveniet, praesentium id. Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Suscipit quaerat, eos eum animi accusantium, minima odio nam ex dolores incidunt, similique totam iusto sint corporis? Eius explicabo ipsa voluptatem tempora. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis nostrum, voluptas delectus, sed soluta dignissimos, omnis ipsum incidunt voluptates deleniti rem nobis. Recusandae natus, quisquam praesentium aliquam sunt corrupti sapiente.</p> -->
    <!-- <img src="url" alt="alternatetext"> -->
    <a href="" class="button button-s get-started margin-top-s box-shadow-l">Get Started</a>
    </div>       
  </section>

  <section>
    <div class="container segmentred text-align-center box-shadow-l border-radius">
        <h1 class="display-title display-title-xl text-align-center"> Learn Programming  </h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, cum. Dignissimos ipsam quas, adipisci repudiandae, tempore sint ratione ex perferendis modi pariatur sunt odit impedit debitis veritatis, totam et voluptate.</p>
    </div>
  </section>

  <section>
    <div class="container-fluid segment text-align-center">
        <h1 class="display-title display-title-xl text-align-center"> Contribute </h1> 
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, cum. Dignissimos ipsam quas, adipisci repudiandae, tempore sint ratione ex perferendis modi pariatur sunt odit impedit debitis veritatis, totam et voluptate.</p>
    </div>
  </section>
  </main>

  <footer class="footer padding-vertical-xl border-top border-color-primary-600 segmentcolor">
  <div class="container">

    <div class="text-align-center">
    <h2 class="display-title display-title-l margin-bottom-m">Digital Story Telling</h2>
    <nav class="nav-inline">
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Mission</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Contribute</a>
      </li>
    </nav>
  </div>

  </div>
</footer>