<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Title -->
    <title>Python Programming Videos</title>

    <!-- turretcss CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS Folder/home.css">
    <link rel="stylesheet" href="CSS Folder/login.css">
    <link rel="stylesheet" href="CSS Folder/videos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

  </head>

<body>

  <%- body %>

	
</body>
</html>
