

    <nav class=" nav-background padding-xs nav-inline">
  <ul>
    <li>
      <a class="nav-main border-radius" href="/videos">Videos</a>
    </li>
    <li>
      <a class="nav-main border-radius" href="/">Home</a>
    </li>
    
    <li class="nav-right">
      <a class="nav-button border-radius" href="/users/logout">Signout</a>
    </li>
  </ul>
</nav>

<main>
  <!-- 
  <section>
    <div class="segment flex flex-justify-center">

    
        <h1 class="heading padding-left-xl">Python Programming Videos</h1>

    </div>  

  </section -->

    <section>
    <div class="segment-one padding-top-xl">
        <h1 class="heading-s text-align-center">Python Programming Videos</h1>
        <div class="flex flex-row box">
        </div>

        <div class="flex flex-row padding-m box">
        <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="video1"> Video 1 - Fundamentals of Python</a>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="video2"> Video 2 - Working With Data</a>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="video3"> Video 3 - Input and Output</a>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="video4"> Video 4 - Making Decisions</a>

                  <% if(videos) { %>
          <% videos.forEach(function(item) { %>
            <a class="card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="/videos/<%= item.name %>"> <%= item.name %> - <%= item.title %></a>
            <% }) } %>
        </div>


    </div>
    </section>


<section>
    <div class="segment padding-top-xl">
        <!-- <h1 class="pop text-align-center">Programming Resources</h1> -->
        <h1 class="heading-s text-align-center">Programming Resources</h1>
        <p class="text-align-center text-underline">Use these resources for the videos</p>


        <div class="flex flex-row padding-m box">
        <a class="py padding-s margin-right-s border-radius box-shadow-m" href="https://python.org"> Python</a>
        </div>

        <div class="flex flex-row padding-m box">
            <a class="video-card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://www.sublimetext.com/"> Sublime Text</a>
            <a class="video-card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://code.visualstudio.com/"> VS Code</a>
            <a class="video-card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://www.jetbrains.com/pycharm/"> PyCharm</a>
            <a class="video-card padding-s margin-right-s margin-bottom-s border-radius box-shadow-m" href="https://developer.apple.com/xcode/"> XCode - For Macs</a>
        </div>
    </div>
    </section>

<footer>
  <div class="footer segment-red box margin-top-m padding-top-m">
    
    <div class="flex flex-column padding-right-xl">

       <ul class="footer-ul">
        <li class="footer-ul text-align-center"><h1 class="poppins">About</h1></li>
        <li class="footer-ul text-align-center"><a href="">UH</a></li>
        <li class="footer-ul text-align-center"><a href="">Statement</a></li>
        <li class="footer-ul text-align-center"><a href="">Sitemap</a></li>
      </ul> 
    </div>

  </div>
</footer>


