 <nav class="nav-inline position-right box-shadow-l">
  <ul>
    <li>
      <a href="/" class="button button-s nav-button box-shadow-l">Home</a>
    </li>
    <li class="float-right">
      <a href="/users/logout" class="button button-s nav-button box-shadow-l">Logout</a>
    </li>
    <li class="float-right">
      <a href="..." class="button button-s nav-button box-shadow-l">Tutorials</a>
    </li>
    <li class="float-right">
      <a href="..." class="button button-s nav-button box-shadow-l">Register</a>
    </li>
  </ul>
</nav>

  <main >

  	<section>
      <div class="container margin-bottom-xl margin-top-xl margin-left-l">
        <h1 class="video-heading">
          Videos
        </h1>
     </div> 
    </section>


    <section>
      <div class="flex-cards">

         <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-bottom-xl vid-card">
          <div class="flex-auto">
            <h3 class="margin-top-m">Tutorial 1</h3>
            <a href="/videos/video1">Get Started with Python Programming</a>
            <p class="color-grey">Learn Python Programming</p>
          </div>
          <p class="flex-none">
          </p>
        </div>

        <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-bottom-xl vid-card">
          <div class="flex-auto">
            <h3 class="margin-top-m">Tutorial 2</h3>
            <p class="color-grey">Create your development environment.</p>
          </div>
          <p class="flex-none">
          </p>
        </div>

        <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-bottom-xl vid-card">
          <div class="flex-auto">
            <h3 class="margin-top-m">Tutorial 3</h3>
            <p class="color-grey">Create your development environment.</p>
          </div>
          <p class="flex-none">
          </p>
        </div>

        <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-bottom-xl vid-card">
          <div class="flex-auto">
            <h3 class="margin-top-m">Tutorial 4</h3>
            <p class="color-grey">Create your development environment.</p>
          </div>
          <p class="flex-none">
          </p>
        </div>

      <% if(videos) { %>
      <% videos.forEach(function(item) { %>
     <div class="padding-m flex flex-column justify-content-space-between border-radius background-white color-dark margin-right-m margin-bottom-xl vid-card">
              <div class="flex-auto">
                <h3 class="margin-top-m"><%= item.name %></h3>
                <a href="<%= item.link %>">Get Started with Python Programming</a>
                <p class="color-grey">Learn Python Programming</p>
              </div>
              <p class="flex-none">
              </p>
            </div>
      <% }) } %>

         

       



      </div>
    </section>

  </main>

  <footer class="footer padding-vertical-xl border-top border-color-primary-600 segmentcolor">
  <div class="container">

    <div class="text-align-center">
    <h2 class="display-title display-title-l margin-bottom-m">Python Programming</h2>
    <nav class="nav-inline">
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Mission</a>
      </li>
      <li>
        | 
      </li>
      <li>
        <a href="">Contribute</a>
      </li>
    </nav>
  </div>

  </div>
</footer>
