<nav class="nav-inline background-light-700">
    <div class=" box-shadow-m">
      <ul>
    <li>
      <a class="button box-shadow-m" href="...">Home</a>
    </li>
    <li>
      <a class="button box-shadow-m" href="...">About</a>
    </li>
    <li class="navr">
        <a href="..." class="button box-shadow-m"> Register </a>
    </li>
    <li class="navr">
        <a href="/users/login" class="button box-shadow-m"> Login </a>
    </li>
  </ul> 
</div>
	</nav>

	<main>

    <section>
    <div class="containere">
        <h1 class="display-title display-title-xxl padding-top-xxl"> Digital Storytelling </h1>
        <p class="lead max-width-m"> Learn Programming through story-oriented videos. </p>
        <hr>
        <p class="lead lead-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero labore distinctio nulla harum ad eos dignissimos recusandae quasi! Voluptates, ipsa odit unde vitae. Mollitia vitae, possimus, unde repellendus voluptatibus delectus.</p>
    </div>
  </section>
<br>
  <section>
    <div class="containere se">
      <h1 class="display-title display-title-xxl padding-top-xxl text-align-center"> Our Mission </h1>
      <p class="lead text-align-center"> Learn Programming through story-oriented videos. </p>
       <p class="lead lead-xs text-align-center"> Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Excepturi rerum ipsam aliquam voluptates suscipit, nihil id voluptate provident labore impedit itaque quibusdam earum nesciunt debitis quaerat culpa commodi asperiores, perspiciatis.</p>
    </div>
  </section>


    <div class="containere hero">
      <h1 class="display-title display-title-xxl padding-top-xxl text-align-right"> Join Us</h1>
      <p class="lead text-align-right"> Learn Programming through story-oriented videos. </p>
       <p class="lead lead-xs text-align-right"> Lorem ipsum dolor.</p>
    </div>


<!--   <section>
    <div class="containere se">
      <h1 class="display-title display-title-xxl padding-top-xxl text-align-center"> Our Mission </h1>
      <p class="lead max-width-m text-right"> Learn Programming through story-oriented videos. </p>
        <hr>
        <p class="lead lead-xs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero labore distinctio nulla harum ad eos dignissimos recusandae quasi! Voluptates, ipsa odit unde vitae. Mollitia vitae, possimus, unde repellendus voluptatibus delectus.</p>
    </div>
  </section> -->

	</main>