html, body{
	height: 100%;
}

body{
	margin: 0;
}

.login-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	margin-right: 20px;
	margin-left: 20px;
}

.login-card{
	background-color: #F25F5C;
	padding: 25px;
	width: 350px;
}

.login-button{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	background: #6AB487;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 8px;
	font-weight: bold;
	font-size: 15px;
}

.poppins{
	font-family: 'Poppins', sans-serif;
}

.login-new{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-right: 20px;
	margin-left: 20px;	
}