@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.float-right{
	float:right;
}

nav a{
	font-weight: bold;
}

nav{
	background: #5E7CE2;
	padding-bottom: 10px;
	padding-top: 10px;
}

body{
	background: #D3D5D7;
	height: 100%;
	/*margin: 0;*/
}

.nav-button{
	background: #92B4F4;
	font-size: 16px;
	border: solid;
	border-color: #1D3557;
	border-width: 2px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 25px;
	font-family: Inter;
}



/**/
.top-margin{
	margin-top: 100px;
}
/**/

/* */

.segmentcolor{
	background-color: #5E7CE2;
}


.segmentred{
	background-color: #5E7CE2;
	padding-top: 100px;
	padding-bottom: 100px;
}

.segment{
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
}

.main-heading{
	font-size: 90px;
	font-family: Inter;
	margin-top: 100px;
}

.get-started{
	background: #6D9DC5;
	font-size: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 25px;
	padding-bottom: 40px;
	font-family: Inter;
}

ul{
	list-style: none;
}

.align-list{
	padding-right: 40px;
}

.inter{
	font-family: Inter;
}

.login-label{
	font-size: 25px;
}

.login-button{
	background: #B8BACF;
	font-size: 16px;
	border: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 25px;
	font-family: Inter;
}

.text-center{
	text-align: center;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
	width: 400px;
}