@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
.vid-layout{
    background-color: rgba(95, 239, 191, 0.771);
    padding-bottom: 40cm;
}

.video-lessons{
background-color: burlywood;    
font-family: "Grape Nuts";
font-size: 80px;
font-style: normal;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 30%;
color: rgba(250, 246, 244, 0.982);
}

.Header{
    color:rgb(121, 63, 63);
    font-size:30px;
    padding-left: 40%;
    font-style: oblique;
    font-family: cursive;
    background-color: burlywood;
}

.chpts-1-4{
padding-top: 5%;
padding-right: 10px;
padding-left: 10%;
display: inline-flex;

}

.chpts-5-8{
padding-top: 10%;
padding-left: 10%;
padding-right: 10px;
display: inline-flex;
    }

.vid-postion{
    display: inline-flex;
    margin: auto;
}

.vid-button{
    align-items: center;
    border-radius: 30px;
    padding-top: right;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(95, 57, 192);
    box-shadow:4px 4px rgb(80, 29, 127)
}