@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.nav-background{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #fc9255f6;
    color: black;
    font-weight: bold;
    font-family: "Neucha", cursive;

}

.nav-sections{
    display: flex;
}

.nav-spacing{
    padding-top: 5px;
    padding-bottom: 10px;

}

/*Home-page CSS*/

.homepage-background{
  /* background-color: #71eb96ca;*/
  background-color:#8fe6e6;
}

.homepage-intro-text{
    font-size: 20px;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: bold;
    font-family: "Neucha", cursive;
}

.title-layout{
    text-align: center;
    font-weight: bold;
    font-family: "Neucha";
    font-style: normal;
    font-size: 150%;
    padding: 40px;
}

.text-layout{
    text-align: center;
    padding-bottom:40px;
}

.names-text-layout{
    text-align: center;
    padding-bottom:15px;
    
}

.button-layout{
    display: flex;
    justify-content: center;
}

.button-style{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    display: inline-block;
    font-size: 17px;
    
}

.navbar-buttons{
    display:inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    margin: auto;
    border-radius: 15px;
    font-size: 17px;
    font-weight: bold;
    background-color: #2bd154ca;
    box-shadow: 2px 5px rgb(140, 65, 27);
}

.navbar-buttons:hover{
    color: #00000075;
}

.navbar-buttons:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Footer CSS*/
.footer{
    display: flex;
    text-align: left;
    background-color: #fc9255f6;
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    font-style: bolder;
    font-family: "Neucha", cursive;
}

.footer-text{   
    text-decoration: underline;
    padding-left: 50px;
    text-align: center;   
}

.uh-image-center{
    align-items: center;
}
.Designed-by{
    padding-bottom: 5%;   
    text-align:right;
}

.Contact-Us{
    padding-top: 20%;
    text-align: left;
}

.Contact info{
    margin-top: 30px;
    text-align: left;
}

.address{
    padding-top: 40%;
    text-align: left;
}
.add2{
    padding-top: 50%;
    text-align: left;
}
.add3{
    padding-top: 60%;
    text-align: left;
}

/*Image CSS*/

.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 50%;
}

.uh-image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 20%;
}

/*Image container*/
.title-image-container{
    padding-left: 250px;
    padding-right: 250px;
    display:grid;
    max-width: 100%;
    height: 45vh;
    margin: auto;
}

.page-container{
    position: relative;
    min-height: 87vh;
}

.about-section{
    grid-row: 60px 60px;
}