@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
.vid-bg{
    background-color: rgba(221, 197, 212, 0.837);
    box-shadow: inset 0 -0px 6px 3px rgba(0, 0, 0, 0.503)
}
.wrapper{
font-size: 50px;
font-family: "Grape Nuts";
font-weight: bold;
color:rgba(29, 170, 170, 0.822);
font-size-adjust: inherit;
}

.size-wrapper iframe{
    position:relative;
    border-width: 15px;
    border-color: rgba(241, 175, 87, 0.8);
    height: 450px;
    width: 750px;
}

.transcript{
    
    margin-top: 1.5cm;
    margin-left: 2cm;
    border-width: 15px;
    border-color: rgba(241, 175, 87, 0.8);
    height: 450px;
    width: 650px;
}

.exercises{
    font-family: "Grape Nuts";
    font-weight: bolder;
    font-style:inherit;
    font-size: 40px;
    color: rgb(62, 199, 163);
}

.instructs{
    font-weight: 500;
    color: rgba(153, 114, 47, 0.734);
    margin-top: 10px;
}